<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            &copy; {{ "now" | date: "%Y" }} kaityo256
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          <a href="{{ "/" | relative_url }}" class="footer-icon" aria-label="Home">
            <i class="fa-solid fa-house" aria-hidden="true"></i>
          </a>
          <a href="#" class="footer-icon" aria-label="Share on X">
            <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
          </a>          
          <a href="#" class="footer-icon" aria-label="Share on Bluesky">
            <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
          </a>          
          <a href="#" class="footer-icon" aria-label="Share on Facebook">
            <i class="fa-brands fa-facebook" aria-hidden="true"></i>
          </a>
      </div>
    </div>
  </div>
</footer>