---
--- 
@import "minima";

.site-header {
  border-top: none;
}

/* header layout */
.site-header .wrapper {
  display: flex;
  align-items: center;
}

/* logo + title */
.site-header .site-title {
  float: none;   /* minima の float を無効化 */
  margin: 0;
}

/* nav を右端へ */
.site-header .site-nav {
  margin-left: auto;
}
