---
---

@import "minima";

.site-header {
  border-top: none;
}

/* header layout */
.site-header .wrapper {
  display: flex;
  align-items: center;
}

/* logo + title */
.site-header .site-title {
  float: none;
  /* minima の float を無効化 */
  margin: 0;
}

/* nav を右端へ */
.site-header .site-nav {
  margin-left: auto;
}

.tag {
  display: inline-block;
  font-size: 0.72rem; // 小さめ
  line-height: 1.6; // 周囲との縦位置を自然に
  vertical-align: middle; // 行中央揃え
  padding: 0.12em 0.55em;
  margin-right: 0.35em;

  border-radius: 999px; // 長方形を丸く
  background: #eef3ff; // 淡い青（お好みで変更可）
  color: #445;
  text-decoration: none;

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.7); // 少し立体感

  transition: all 0.15s ease;
}

.tag:hover {
  background: #dde7ff;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.8);
}


.tag.programming { background: #eef3ff; }
.tag.math { background: #f3f0ff;}
.tag.physics { background: #eefaf2; }
.tag.machine-learning { background: #fff4e8; }
.tag.hpc { background: #f0f8ff; }
.tag.linux { background: #f5f5f5; }
.tag.mac { background: #f2f2f7; }
.tag.devtools { background: #f5f0ff; }
.tag.web { background: #e8fbff; }
.tag.document { background: #fffbea; }
.tag.qiita { background: #e8fdf0; }
.tag.zenn { background: #eef7ff; }
.tag.poem { background: #ffc9d2; }


.home-link svg {
  vertical-align: middle;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.home-link:hover svg {
  opacity: 1.0;
}

.home-link svg {
  vertical-align: middle;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.home-link:hover svg {
  opacity: 1.0;
}

.home-link {
  color: #888;
}

.home-link:hover {
  color: #555;
}
